<span  class="subcontainer">
<div class="input-group">
  <div class="form-outline">
    <input   [(ngModel)]="searchKeys" type="search" id="form1" class="form-control"  />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary" id='top' (click)="onSearch()">
    <i class="fas fa-search"></i>
  </button>
</div>
</span>

<span class="container">
<div class="card-columns" *ngIf= "testFunction(UrlsList)">
    <div class="card" *ngFor="let item of UrlsList">
      <img class="card-img-top" [src]="item" />

    </div>
  </div>
</span>